
    <!-- site -->
   
        <!-- site__body -->
        <div class="site__body">
            <div class="block-space block-space--layout--after-header"></div>
            <div class="block">
                <div class="container container--max--xl">
                    <div class="row">
                        <div class="col-12 col-lg-3 d-flex">
                            <div class="account-nav flex-grow-1">
                                <h4 class="account-nav__title">
                                  {{'NAVIGATION' | translate}}
                                  <!-- Navigation -->
                                </h4>
                                <ul class="account-nav__list">
                                  <li class="account-nav__item ">
                                    <a href="#!dashboard">
                                      {{'DASHBOARD' | translate}}
                                      <!-- Dashboard -->
                                    </a>
                                  </li>
                                  <!-- <li class="account-nav__item">
                                    <a href="#!garage">Garage</a>
                                  </li> -->
                                  <li class="account-nav__item">
                                    <a href="#!orders">
                                      {{'ORDER_HISTORY' | translate}}
                                      <!-- Order History -->
                                    </a>
                                  </li>
                                  <li class="account-nav__item">
                                    <a href="#!profile">
                                      {{'EDIT_PROFILE' | translate}}
                                      <!-- Edit Profile -->
                                    </a>
                                  </li>
                                  
                                  <!-- <li class="account-nav__item">
                                    <a href="#!order-details">Order Details</a>
                                  </li> -->
                                  <li class="account-nav__item">
                                    <a href="#!account-address">
                                    {{'SHIPPING_ADDRESS' | translate}}  
                                      <!-- Shipping Address -->
                                    </a>
                                  </li>
                                  <!-- <li class="account-nav__item">
                                    <a href="#!edit-address">Edit Address</a>
                                  </li> -->
                                  <li class="account-nav__item account-nav__item--active">
                                    <a href="#!password">
                                      {{'PASSWORD' | translate}}
                                      <!-- Password -->

                                    </a>
                                  </li>
                                  <li class="account-nav__divider" role="presentation"></li>
                                  <li class="account-nav__item">
                                    <a href="#!logout">
                                      {{'LOGOUT' | translate}}
                                      <!-- Logout -->

                                    </a>
                                  </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                            <div class="card">
                                <div class="card-header">
                                    <h5>
                                      {{'CHANGE_PASS' | translate}}
                                      <!-- Change Password -->

                                    </h5>
                                </div>
                                <div class="card-divider"></div>
                                <div class="card-body card-body--padding--2">
                                  <form name="changePassForm" novalidate>
                                    <div class="row no-gutters">
                                      
                                        <div class="col-md-12 ">
                                          <div class="input-group">
                                            <input type="password" class="form-control" 
                                            id="pass"
                                            placeholder="{{'NEW_PASS' | translate}}"
                                            minlength="8"  maxlength="16" 
                                            ng-model="pass" name="pass"
                                            pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@_#$%^&*()]*$">
                                            <div class="input-group-append border-none bg-light">
                                              <span class="input-group-text bg-white" onclick="myFunction()">
                                                <i class="fa fa-eye"></i>
                                              </span>
                                            </div>                        
                                          </div>
                                        </div>
                                        <div class="col-md-12 ">
                                          
                                            <span ng-show="changePassForm.$submitted || changePassForm.pass.$dirty">
                                              <small class="d-block text-danger" ng-show="changePassForm.pass.$error.required">
                                               {{'PASS_REQUIRE' | translate}}*
                                                <!-- Password Required* -->
                                              </small>
                                              <small class="d-block text-danger" ng-show="changePassForm.pass.$error.pattern">
                                                {{'PASS_VALIDATION' | translate}}
                                                <!-- Password must contain at least one digit, one special character and one uppercase* -->
                                              </small>
                                              <small class="d-block text-danger" ng-show="((changePassForm.pass.$error.minlength || changePassForm.pass.$error.maxlength) && changePassForm.pass.$dirty)">
                                                {{'PASS_LENGTH' | translate}}
                                                <!-- Password should be minimum be length of 8 -->
                                              </small>
                                            </span>
                                          
                                        </div>

                                        <div class="col-md-12 mt-2">
                                          <div class="input-group">
                                            <input type="password" class="form-control"
                                             id="re_pass" placeholder="{{'CONFIRM_PASS' | translate}}"
                                             minlength="8"  maxlength="16" name="re_pass"
                                             ng-model="re_pass" compare-to="pass">
                                            <div class="input-group-append">
                                              <span class="input-group-text bg-white" onclick="mySecondFunction()">
                                                <i class="fa fa-eye"></i>
                                              </span>
                                            </div> 
                                          </div>
                                        </div>
                                        <div class="col-md-12">
                                          <div>
                                            <small class="d-block text-danger" ng-show="changePassForm.re_pass.$error.compareTo">  
                                              {{'PASS_MATCH' | translate}}
                                              <!-- Passwords don't match.   -->
                                            </small> 
                                          </div>    
                                        </div>

                                        <div class="col-md-12 ">                                        
                                          <div class="form-group mb-0">
                                            <button class="btn btn-primary mt-3" type="submit" 
                                            ng-disabled="changePassForm.$invalid || changePassForm.$pristine " 
                                            ng-click="change_pass()">
                                            Change</button>
                                          </div>
                                        </div>
                                        <div class="my-2" ng-show="change">
                                          <div class="alert alert-success" role="alert" >
                                            <i class="fa fa-check-circle text-success mx-2"></i>
                                            {{'PASS_UPDATED' | translate}} 
                                            <!-- Password Updated Successfully! -->
                                          </div>
                                        </div>
                                      
                                    </div>
                                  </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-space block-space--layout--before-footer"></div>
        </div>
        <!-- site__body / end -->
        <script type="text/javascript">
          var pass = document.getElementById('pass');
          var re_pass = document.getElementById('re_pass');
          
      
          function myFunction() {
            if (pass.type === "password") {
              pass.type = "text";
            } else {
              pass.type = "password";
            }
          } 
      
          function mySecondFunction() {
            if (re_pass.type === "password") {
              re_pass.type = "text";
            } else {
              re_pass.type = "password";
            }
          } 
      
      </script>